body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  margin-left: 1em;
}

li:not(:last-child) { 
  margin-bottom: 10px;  
}

.geoframe-list {
  position: absolute;
  background-color: white;
  list-style-position: inside;
  padding: 1em;
  margin-top: 1em;
  margin-left: 1em;
  border-radius: 5px;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.5)
}